<!-- Imagen principal -->
<div class="row g-0 flex-column overflow-hidden align-items-center w-100 bg-white">

    <!-- Imagen de fondo -->
    <cmp-home-carousel class="col-12 mb-5"></cmp-home-carousel>

    <section class="col-12">

        <h2 class="cmm-txt-project-primary cmm-txt-thin-bold text-center">LA LLAVE A UNA NUEVA VIDA</h2>

        <p class="cmm-txt-project-primary text-center mb-5">A UN CLICK DE DISTANCIA</p>

        <div class="row g-0 justify-content-center mx-auto w-100 my-5">

            <!-- publicidades -->
            <cmp-core-product-ad *ngFor="let product of products; let i = index"
                class="col-md-4 d-flex justify-content-center" [product]="product"
                carouselId="{{'carousel' + i}}"></cmp-core-product-ad>

        </div>

    </section>

    <!-- Sección de propiedades destacas -->
    <section class="col-12 my-5">


        <!-- Texto con línea que divide -->
        <div class="position-relative d-flex justify-content-center align-items-center flex-column w-100">

            <mat-divider class="cmm-bg-project-primary position-absolute w-90" style="top: 1rem;"></mat-divider>

            <div class="bg-white w-fit px-3" style="z-index: 2;">
                <h2 class="cmm-txt-project-primary cmm-txt-thin-bold text-center">PROPIEDADES DESTACADAS</h2>
            </div>
        </div>

        <p class="cmm-txt-project-primary text-center mb-5">¡LA PROPIEDAD DE TUS SUEÑO ESTÁ EN NUESTRO INVENTARIO!</p>

        <div class="row g-0 w-100 align-items-center">

            <div class="col-md-6" style="height: 100vh;max-height: 900px;">

                <div class="w-100 h-100 d-flex flex-column">

                    <div class="flip_box w-100 h-100">
                        <div class="w-100 h-100 flip_box_inner">

                            <div class="flip_front h-100 position-absolute">
                                <div class="w-100 h-100 product_bg cursor-pointer"
                                    [style.background-image]="'url(' + images.product7 +')'">
                                </div>
                            </div>

                            <div class="flip_back h-100 position-absolute">
                                <div class="w-100 h-100 product_bg cursor-pointer"
                                    [style.background-image]="'url(' + images.product8 +')'">
                                </div>
                            </div>

                        </div>
                    </div>

                    <span class="fs-20 text-center my-3">La Lagunita</span>

                </div>

            </div>

            <div class="col-md-6">

                <div class="row w-100 g-0">

                    <div *ngFor="let item of outstandingProperties"
                        class="col-6 p-3 d-flex justify-content-center align-items-center flex-column">

                        <img [src]="item.image" class="cursor-pointer small-scale" style="width: 100%;aspect-ratio: 1;">

                        <span class="fs-20 text-center my-3">{{item.name}}</span>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- Parallax -->
    <section class="col-12 my-5 parallax_bg" [style.background-image]="'url(' + images.product12 +')'">
    </section>

    <!-- Asesores -->
    <section class="col-12 my-5">

        <h2 class="cmm-txt-project-primary cmm-txt-thin-bold text-center">NUESTROS ASESORES</h2>

        <div class="row w-100 g-0">

            <div *ngFor="let advisor of advisors" class="col-md-3 my-5">
                <cmp-home-advisor [advisorData]="advisor"></cmp-home-advisor>
            </div>

        </div>

    </section>

    <!-- Acciones -->
    <section class="col-12 my-5">

        <h2 class="cmm-txt-project-primary cmm-txt-thin-bold text-center">VENTA DE ACCIONES EN</h2>

        <div class="row w-100 g-0">

            <div *ngFor="let share of shares" class="col-md-3 my-5 d-flex justify-content-center align-items-center">
                <img [src]="share" alt="" style="height: 200px;">
            </div>

        </div>

    </section>

</div>