<!-- Imagen principal -->
<div class="row g-0 flex-column overflow-hidden align-items-center w-100 bg-white">

    <!-- Imagen de fondo -->
    <cmp-home-carousel class="col-12 mb-5"></cmp-home-carousel>

    <div class="col-12">

        <h2 class="cmm-txt-project-primary cmm-txt-thin-bold text-center">LA LLAVE A UNA NUEVA VIDA</h2>

        <p class="cmm-txt-project-primary text-center mb-5">A UN CLICK DE DISTANCIA</p>

        <div class="d-flex justify-content-center gap-3 my-5">

            <!-- publicidades -->
            <cmp-core-product-ad *ngFor="let product of products; let i = index" [product]="product"
                carouselId="{{'carousel' + i}}"></cmp-core-product-ad>

        </div>

    </div>

</div>