<div class="row mx-auto justify-content-center bg-white w-100">

    <!-- Detalle de producto -->
    <cmp-products-detail [product]="product" style="max-width: 1000px;"></cmp-products-detail>

    <!-- Asesores -->
    <section class="col-12 my-5" style="max-width: 1000px;">

        <h2 class="cmm-txt-project-primary cmm-txt-thin-bold text-center">CONTACTA A UN ASESOR</h2>

        <div class="row g-0 w-100 my-5">

            <div class="col-3 d-flex flex-column">

                <cmp-core-advisor *ngFor="let advisor of advisors" [advisorData]="advisor"></cmp-core-advisor>

            </div>

            <div class="col-9 ps-5 d-flex justify-content-center align-items-center">

                <div class="rounded_30 shadowBorder h-100 w-100" style="max-height: 700px;">

                    <h4 class="cmm-txt-project-primary cmm-txt-thin-bold text-center mt-3">Formulario de contácto</h4>

                </div>

            </div>

        </div>

    </section>

</div>